* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #0e1212,
    #0f1312,
    #111413,
    #131513,
    #151613
  );
  background-attachment: fixed;
  overflow: hidden;
}

.header {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding: 2.2em;
}

.header h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.header h1::after {
  content: "";
  width: 8em;
  height: 2px;
  background-color: #dedef1;
  display: block;
  margin: 0 auto;
}

.cep-container {
  width: 100%;
  gap: 2.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cep-input {
  display: flex;
  gap: 2em;
}

.input-search {
  border: none;
  border-radius: 8px;
  padding: 0.75em 1em;
  font-size: 1.2em;
}

.input-search:focus {
  outline: none;
}

.input-search::-webkit-outer-spin-button,
.input-search::-webkit-inner-spin-button {
  appearance: none;
}

.btn-search {
  border: none;
  padding: 0.75em 1em;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #449;
  color: #fff;
}

.btn-search:active {
  position: relative;
  top: 2px;
}

.cep-content-container {
  background-color: #333;
  padding: 1em;
  border-radius: 8px;
  text-align: left;
  margin-top: 1em;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: none;
}

.show {
  display: block;
}

.line {
  display: flex;
  flex-direction: column;
}

.line span {
  font-weight: bold;
  margin-bottom: 0.4em;
}

.insert {
  width: 460px;
  padding: 0.75em;
  border-radius: 8px;
  background-color: #706f6f;
  color: #fff;
  margin-bottom: 1em;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
